.button-header {
  font: var(--buttonMobile);
  padding-block-start: 6px;
  padding-block-end: 6px;
  padding-inline-start: 22px;
  padding-inline-end: 22px;
  border-radius: 12px;
  border: none;
  background: var(--white);
  box-shadow:  0px 2px 7px rgba(0, 0, 0, 0.0954201);
  color: var(--veryDarkCyan);
  cursor: pointer;
  transition: all .2s;
}

.button {
  font: var(--buttonMobile);
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 60px;
  padding-inline-end: 60px;
  border-radius: 20px;
  border: none;
  background: var(--pink);
  box-shadow:  2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
  color: var(--white);
  cursor: pointer;
  transition: all .2s;
}

.button-header:active,
.button:active {
  transform: scale(.95);
}

  .button:hover {
    background: var(--pinklight);
  }

@media screen and (min-width: 768px) {
  .button-header {
    font: var(--buttonDesktop);
    padding-block-start: 14px;
    padding-block-end: 14px;
    padding-inline-start: 64px;
    padding-inline-end: 64px;
    border-radius: 24px;
    box-shadow:   0px 3px 11px rgba(0, 0, 0, 0.0954201);
    color: var(--grayishBlue);
  }

  .button {
    font: var(--buttonDesktop);
    padding-block-start: 18px;
    padding-block-end: 18px;
    padding-inline-start: 60px;
    padding-inline-end: 60px;
    border-radius: 28px;
  }
}