.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block-start: 28px;
  padding-block-end: 28px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  border-radius: 16px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
}

.card-image img {
  max-inline-size: 100%;
  vertical-align: middle;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.card-title {
  margin: 0;
  font: var(--headline2Mobile);
  color: var(--veryDarkCyan);
}

.card-info {
  margin: 0;
  font: var(--bodyMobile);
}

@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    gap: 167px;
    padding: 0;
    padding-inline-start: 120px;
    padding-inline-end: 16px;
  }

  .card-description {
    text-align: start;
  }

  .card-title {
    font: var(--headline2Desktop);
  }

  .card-info {
    font: var(--bodyDesktop);
  }

  .card-image {
    padding-block-start: 54px;
    padding-block-end: 54px;
    padding-inline-start: 17px;
    padding-inline-end: 17px;
  }

  .card-image img {
    max-inline-size: 406px;
    block-size: auto;
  }
}