.cta-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-inline-size: 800px;
  margin: auto;
  padding-block-start: 41px;
  padding-block-end: 41px;
  border-radius: 15px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  position: relative;
  top: 70px;
  left: 0;
  background: var(--white);
}


.cta-title {
  margin: 0;
  font: var(--headline3Mobile);
  color: var(--veryDarkCyan);
  align-self: center;
}

.cta-content .button {
  align-self: center;
}

@media screen and (min-width: 1024px) {
.cta-title {
  font: var(--headline3Desktop);
}

.cta-content {
  top: 80px;
  }
}